name: Test E2E
on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: e2e-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Build the binary and init package
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

      - name: Install Longhorn pre-reqs to ubuntu-latest
        run: |
          sudo apt-get install nfs-common
          sudo systemctl status open-iscsi || echo inactive
          sudo ls -lah /etc/iscsi/nodes || echo bad
          sudo ls -lah /sys/class/iscsi_session || echo bad
          sudo mkdir -p /etc/iscsi/nodes
          sudo mkdir -p /sys/class/iscsi_session
          sudo systemctl start open-iscsi
          sudo systemctl status open-iscsi || echo inactive

      - name: Install release version of Zarf
        uses: defenseunicorns/setup-zarf@main
        with:
          download-init-package: false
      
      - name: Create the Longhorn init package
        run: zarf package create . --set AGENT_IMAGE_TAG=$(zarf version) --no-progress --confirm

      - name: Deploy the Longhorn init package
        timeout-minutes: 30
        run: |
          sudo ${HOME}/.zarf-cache/zarf init \
            --components k3s,logging,git-server --storage-class longhorn \
            --set REGISTRY_PVC_SIZE=256Mi --set GIT_SERVER_PVC_SIZE=256Mi \
            --no-progress --confirm

      - name: Get cluster info
        if: always()
        run: |
          sudo kubectl describe nodes
          echo ""
          sudo kubectl describe pods -n zarf
          echo ""
          sudo kubectl describe deployments -n zarf
          echo ""
          sudo kubectl describe persistentvolumeclaim -n zarf
          echo ""
          sudo kubectl describe persistentvolume -n zarf
          echo ""
          sudo kubectl describe pods -n longhorn-system
          echo ""
          sudo kubectl describe deployments -n longhorn-system
          echo ""
          sudo kubectl describe persistentvolumeclaim -n longhorn-system
          echo ""
          sudo kubectl describe persistentvolume -n longhorn-system

      - name: Save logs
        if: always()
        uses: defenseunicorns/zarf/.github/actions/save-logs@main
